/* INSPECTION *

* {
	outline: red 1px solid;
}

/**/

body {
	background-color: black;
}

.main {
	background-color: white;
	height: 500px;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	position: relative; /* ??? */
	z-index: 1;
}

.ryu {
	float: left;
}

.ryu, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
	z-index: 5;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	left: 625px;
	top: 172px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.how-to {
	position: absolute;
	top: 150px;
	left: 650px;
	font-size: 2em;
	font-family: sans-serif;
	font-variant: small-caps;
	width: 600px;
	margin: 0;
}

.how-to p {
	width: 50%;
	padding-bottom: 1em;
}

.how-to p + p {
	margin-left: 50%;
}